body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #333;
    padding: 0 10px;
    font-family: sans-serif
}

h1,h2,h3 {
    line-height: 1.2;
    font-variant: small-caps
}

.icon {
    height: 1em
}

a {
    color: #22316f;
    text-decoration: none
}

ul {
    list-style-type:none;
}

.alert {
    color: #ce3131;
}

details > summary {
    list-style-type: none;
}

details > summary::before {
    content: '> ';
}

details[open] > summary::before {
    content: 'V ';
}
