<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Services</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.svg') }}" />
  </head>
  <body>
      <h1>Requested services status</h1>
      {% for item in entries %}
      <details>
          <summary>
              {{item.service}} - {{item.active}} - {{item.enabled}}
          </summary>
          <pre>{{'\n'.join(item.raw)}}
          </pre>
      </details>
      {% endfor %}
  </body>
</html>
